
<div class="btn-group">
    <button type="button" class="btn btn-outline-dark">Все</button>
    <button type="button" class="btn btn-outline-dark">Завершенные</button>
    <button type="button" class="btn btn-outline-dark">Запланированные</button>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Дата</th>
            <th>Имя</th>
            <th>Класс</th>
            <th>Предмет</th>
            <th>Тема</th>
            <th>Статус</th>
            <th>Ссылка</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>19.05.2023</td>
            <td>Kirill</td>
            <td>8</td>
            <td>Math</td>
            <td>Topic</td>
            <td>Planed</td>
        </tr>
    </tbody>
</table>








